<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="764b7475-0ff2-49b7-92e4-0ac8debc17e5" Publisher="CN=BeyondVincent" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SocketClient</DisplayName>
    <PublisherDisplayName>BeyondVincent</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SocketClient.App">
      <VisualElements DisplayName="SocketClient" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SocketClient" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>